@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.938rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: hsl(36, 100%, 99%);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 26, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.overlay::before {
  opacity: 1;
}

.container {
  margin: 1.86em 1.06em 5em 1.06em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 68.27%;
  padding-top: 9.6em;
  padding-left: 1.6em;
  background-color: hsl(36, 100%, 99%);
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.5s ease, visibility 0s 0.5s, opacity 0.5s ease;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav.navMenu {
  align-self: center;
}

li {
  list-style: none;
  font-size: 1.125rem;
  color: hsl(240, 100%, 5%);
}

.visible {
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: height 0.5s ease, visibility 0s, opacity 0.5s ease;
}

img.hamburgerMenu {
  position: relative;
  z-index: 3;
}
