@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.938rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: hsl(36, 100%, 99%);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 26, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.overlay::before {
  opacity: 1;
}

.container {
  margin: 1.86em 1.06em 5em 1.06em;
}

/* ------------------------Design the header part------------------------ */

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 68.27%;
  padding-top: 9.6em;
  padding-left: 1.6em;
  background-color: hsl(36, 100%, 99%);
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.5s ease, visibility 0s 0.5s, opacity 0.5s ease;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav.navMenu {
  align-self: center;
}

li {
  list-style: none;
  font-size: 1.125rem;
  color: hsl(240, 100%, 5%);
}

.visible {
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: height 0.5s ease, visibility 0s, opacity 0.5s ease;
}

img.hamburgerMenu {
  position: relative;
  z-index: 3;
}

/* ------------------------Design the article part------------------------ */

img.img_article {
  margin-top: 2.133em;
  margin-bottom: 1.6em;
}

h1.title_article {
  font-size: 2.5rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
}

p.content_article {
  color: hsl(236, 13%, 42%);
  line-height: 26px;
  margin-top: 1.06em;
  margin-bottom: 1.6em;
}

a.button_article {
  text-decoration: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-size: 0.875rem; /*14px */
  font-weight: 700;
  letter-spacing: 4.375px;
  padding: 0.92em 2.5em 0.78em 2.21em;
  display: inline-block;
  text-transform: uppercase;
}

/* ------------------------Design the primary aside part------------------------ */

aside.primary {
  margin-top: 4.26em;
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.aside_pimary-container {
  padding: 1.6em 1.33em 1.6em 1.4em;
}

h1.aside_primary-title {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin-bottom: 1.093em;
}

h4.section_primary-title {
  font-size: 1.25rem;
  margin-bottom: 0.4em;
  font-weight: 800;
  line-height: 24px;
}

p.section_primary-content {
  color: hsl(233, 8%, 79%);
  line-height: 26px;
}

.section_primary:nth-of-type(-n + 2) .section_primary-content {
  margin-bottom: 1.93em;
}

.section_primary:not(:nth-of-type(n + 3)) {
  margin-bottom: 2.06em;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}